.home-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #1B1F3A;
    overflow: auto;
    min-height: 100vh;
    scroll-behavior: smooth;
  }

  .left-column {
    position: sticky;
    top: 0;
    width: 35%;
    max-height: 100vh; /* Ensures it never exceeds the viewport height */
    height: auto; /* Allows it to shrink */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10%;
    padding-right: 5%;
    overflow: hidden; /* Prevents scrolling */
  }

  .left-column-content {
    flex-grow: 1; /* Makes sure content takes available space */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distributes content evenly */
    max-height: 100%; /* Ensures it doesn't exceed left column */
    overflow: hidden; /* Prevents content overflow */
  }

  .left-column h1 {
    font-size: clamp(1.8rem, 3vw, 3rem); /* Scales between min and max size */
  }

  .left-column h2 {
    font-size: clamp(0.9rem, 2vw, 1.2rem); /* Scales between min and max size */
  }
  
  .left-column p {
    font-size: clamp(0.4rem, 1.2vw, 0.8rem);
  }
  
  .left-column a {
    font-size: clamp(0.4rem, 1.5vw, 0.8rem);
  }
  
  .right-column {
    width: 35%; /* Adjust width as needed */
    padding: 2rem;
    padding-right: 10%;
    padding-left: 5%;
    padding-top: 0px;
    scroll-behavior: smooth;
  }

  .section {
    margin-bottom: 2rem;
  }

  .dark-background {
    background-color: #1B1F3A;
  }

.hero-icons {
    display: flex;
    justify-content: start; /* Align icons to the start of the container */
    gap: 25px; /* Space between icons */
    margin-top: auto; /* Pushes the links to the bottom */
    margin-bottom: 10%;
}

.icon {
    font-size: 30px; /* Size of the icons */
    color: #D3D3D3; /* Default color */
    transition: color 0.3s ease; /* Smooth hover effect */
}

.icon:hover {
    color: #00AEEF; /* Light blue hover color */
}

html {
    scroll-behavior: smooth;
}

.hero-heading {
    font-size: 42px;
    color: #FFFFFF; /* White font color */
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 120px;
}

.hero-subheading {
    margin-top: 5px;
    font-size: 26px;
    color: #00AEEF;
}

.hero-about {
    margin-top: 20px;
    font-size: .9rem;
    color: #D3D3D3;
    line-height: 140%;
    letter-spacing: 0.065em;
}

.right-column h2 {
    padding: 120px 0px 20px;
    font-size: 36px;
    margin-top: 0px;
    color: #FFFFFF;
}

/* Technologies section */
.card-technologies {
  margin-top: 0.5rem;
}

.experience-tech {
  display: inline-block;
  margin-right: 0.5rem;
  padding: 0.2rem 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-size: 0.9rem;
  color: #D3D3D3;
}

.project-card:hover .experience-tech,
.resume-card:hover .experience-tech {
  color: #00AEEF;
  background-color: rgba(0, 0, 0, 0.3);
}